/*подключение шрифта*/
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

/*главный экран*/
html,
body {
    margin: 0;
    height: 100%;
}

#full-bg {
    height: 100%;
    background: url(/img/pexels-tirachard-kumtanom-733852.jpg) center no-repeat;
    background-size: cover;
}

/*Главный блок авторизации*/
#form-container {
    background: rgba(220, 216, 213, 0.5);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    width: 360px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#form-container button {
    padding: 1px 0px;
    width: 165px;
    height: 42px;
    background: #e8be96;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: "Special Elite", cursive;
    font-size: 20px;
    margin-top: 228px;
    margin-left: 98px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Блок авторизации*/
#authorization-form {
    position: absolute;
    width: 300px;
    height: 239px;
    padding: 30px;
}

#authorization-form h1 {
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Блок ввода почты*/
#email-input-container p {
    font-family: "Special Elite", cursive;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#email-input-container input {
    padding-left: 25px;
    height: 23px;
    border: none;
    width: 273px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#email-input-container img {
    position: absolute;
    margin: 6px;
}

/*Блок ввода пароля*/
#password-input-container p {
    font-family: "Special Elite", cursive;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#password-input-container input {
    padding-left: 8px;
    height: 23px;
    border: none;
    width: 290px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#password-input-container img {
    position: absolute;
    margin: 5px;
    margin-left: 280px;
}

/*nosan alex*/

#fullBg {
    height: 100%;
    background: url(/img/pexels-tirachard-kumtanom-733852.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
}

header {
    display: flex;
    width: 90%;
    height: 13%;
    position: absolute;
    top: 8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    background: rgba(220, 216, 213, 0.7);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#textInput input {
    position: absolute;
    width: 60%;
    height: 50%;
    left: 5%;
    top: 25%;
    background: #ffffff;
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

#createNotes img {
    position: absolute;
    width: 2%;
    height: 25%;
    left: 78%;
    top: 35%;
}

#createNotes input {
    cursor: pointer;
    position: absolute;
    width: 13%;
    height: 40%;
    left: 68%;
    top: 30%;
    background: #c2c523;
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-indent: -30%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

#logout a {
    position: absolute;
    width: 13%;
    height: 40%;
    left: 83%;
    top: 30%;
    background: #e8a596;
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-indent: -30%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    text-decoration: unset;
    text-align: center;
    line-height: 51px;
}

#logout img {
    position: absolute;
    width: 2%;
    height: 25%;
    left: 93%;
    top: 35%;
}

section {
    display: flex;
    width: 100%;
    min-height: 87%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#blockFirst {
    display: flex;
    width: 60%;
    min-height: 7%;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#first,
#second,
#third,
#fourth {
    width: 30px;
    height: 20px;
    margin: auto 1%;

    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

#noteferst,
#noteSecond,
#noteThird,
#noteFourth {
    display: inline-block;
    width: 88%;
    min-height: 25%;
    margin: -8 auto;
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
}

#blockFirst img,
#blockSecond img,
#blockThird img,
#blockFourth img {
    width: 25px;
    height: 25px;
    margin: auto auto;
}

#blockSecond {
    display: flex;
    width: 60%;
    min-height: 7%;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#blockThird {
    display: flex;
    width: 60%;
    min-height: 7%;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

#blockFourth {
    display: flex;
    width: 60%;
    min-height: 7%;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}
