@media screen and (max-width: 768px){
    #authorization-form {
        position: absolute;
        width: 405px;
        height: 324px;
        padding: 41px;
    }

    #authorization-form h1 {
        font-family: 'Special Elite', cursive;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 33px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #form-container button {
        padding: 1px 0px;
        width: 223px;
        height: 56px;
        background: #E8BE96;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border: none;
        font-family: 'Special Elite', cursive;
        font-size: 20px;
        margin-top: 301px;
        margin-left: 133px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #form-container {
        background: rgba(220, 216, 213, 0.5);
        box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        width: 487px;
        height: 406px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    #email-input-container p {
        font-family: 'Special Elite', cursive;
        margin: 0px;
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 13px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #email-input-container img {
        width: 16px;
        height: 16px;
        position: absolute;
        margin: 9px;
    }

    #email-input-container input {
        padding-left: 25px;
        height: 32px;
        border: none;
        width: 379px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #password-input-container p {
        font-family: 'Special Elite', cursive;
        font-size: 19px;
        line-height: 20px;
        text-align: right;
        margin-top: 14px;
        margin-bottom: 7px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #password-input-container img {
        position: absolute;
        margin: 8px;
        margin-left: 380px;
        width: 18px;
    }

    #password-input-container input {
        padding-left: 8px;
        height: 34px;
        border: none;
        width: 395px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

}


@media screen and (max-width: 320px){
    #authorization-form {
        position: absolute;
        width: 242px;
        height: 194px;
        padding: 24px;
    }

    #authorization-form h1 {
        font-family: 'Special Elite', cursive;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 16px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #form-container button {
        width: 133px;
        height: 34px;
        background: #E8BE96;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border: none;
        font-family: 'Special Elite', cursive;
        font-size: 20px;
        margin-top: 185px;
        margin-left: 79px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #form-container {
        background: rgba(220, 216, 213, 0.5);
        box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 25%);
        backdrop-filter: blur(5px);
        width: 290px;
        height: 242px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    #email-input-container p {
        font-family: 'Special Elite', cursive;
        margin: 0px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #email-input-container img {
        width: 10px;
        height: 10px;
        position: absolute;
        margin: 5px;
    }

    #email-input-container input {
        padding-left: 20px;
        height: 20px;
        border: none;
        width: 220px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #password-input-container p {
        font-family: 'Special Elite', cursive;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        margin-top: 8px;
        margin-bottom: 4px;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    #password-input-container img {
        position: absolute;
        margin: 5px;
        margin-left: 225px;
        width: 11px;    
    }

    #password-input-container input {
        padding-left: 8px;
        height: 20px;
        border: none;
        width: 232px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

}