{% extends 'index.twig' %}

{% block body %}
    <div id="full-bg">
        <div id="form-container">

            <div id="authorization-form">
                <h1>Make some note :)</h1>

                <div id="email-input-container">
                    <p>leave your email here...</p>
                    <img src="/frontend/img/Vector.svg">
                    <input> 
                </div>

                <div id="password-input-container">
                    <p>and try to remember password...</p>
                    <img src="/frontend/img/carbon_password.svg">
                    <input> 
                </div>

            </div>

            <button>Let's go!</button>

        </div>
    </div>  
{% endblock %}